@import '../../layout/theme.scss';

.card {
  background-color: $secondaryColor;
  padding: 10px 20px;
  border-radius: 6px;

  flex: 0 1 100%;
  margin-bottom: 1em;

  .header {
    a {
      text-decoration: none;
      color: $textColor;
    }

    border-bottom: 1px solid $textColor;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .icon {
    align-self: flex-end;
    margin: 0 2px;
  }

  @media (min-width: 800px) {
    flex: 0 1 49%;
  }
}
