@import '../../layout/theme.scss';

.card {
  background-color: $secondaryColor;
  padding: 10px 20px;
  border-radius: 6px;

  flex: 0 1 100%;
  margin-bottom: 1em;

  @media (min-width: 800px) {
    flex: 0 1 49%;
  }
}
