@import 'theme.scss';
@import 'mixins.scss';

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-content {
    margin-bottom: auto;
  }

  header {
    @include horizontally-centralize;

    width: 100%;
    max-width: 480px;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 4em;
    }
  }

  footer {
    text-align: center;
    padding: 1em;

    a {
      color: $primaryColor;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
